<br>
<br>

### Async Config

<br>
<div class=center>
can be used to load data
</div>

```js
export default defineConfig(async ({ command, mode }) => {
  const data = await asyncFunction()
  return {
    // vite config
  }
})
```
